.footer {
    background-color: #f5f5f5;
    padding: 60px 30px;
  }
  
  .logo {
    font-family: fantasy;
  }
  
  .x {
    color: #1ced54;
  }
  
  .fab {
    margin-right: 15px;
    background-color: #c0c0c0;
    border-radius: 50%;
    padding: 13px;
    font-size: 18px;
  }