.navigation a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
  }
  
  .navigation .selected {
    border-bottom: 2px solid #00ae6e;
  }
  
  .parent-nav {
    background-color: #fff;
    z-index: 999;
  }